# Descargando datos desde Yahoo! Finance
Guía rápida para descargar precios de acciones y otros datos financieros desde Yahoo! Finance, utilizando el paquete de Python **yfinance**. Puedes instalar yfinance entrando la siguiente línea en *Anaconda prompt*:

<code> pip install yfinance </code>

Esta guía se centra principalmente en la descarga de precios históricos, pero el paquete permite también acceder a otros campos como estados de resultados, balance general, noticias sobre la empresa, e incluso recomendaciones de compra y venta publicadas por analistas de inversión. La lista completa de los campos de información que se pueden obtener se puede encontrar en la documentación oficial del paquete https://pypi.org/project/yfinance/.

### 1. Uso básico

In [1]:
import yfinance as yf
import pandas as pd

simbolo = 'TSLA'  # Empresa que queremos buscar, en este caso Tesla
tesla = yf.Ticker(simbolo)

# Obtengamos sus precios historicos
tesla.history(period="max")

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2010-06-29,3.800000,5.000000,3.508000,4.778000,93831500,0,0.0
2010-06-30,5.158000,6.084000,4.660000,4.766000,85935500,0,0.0
2010-07-01,5.000000,5.184000,4.054000,4.392000,41094000,0,0.0
2010-07-02,4.600000,4.620000,3.742000,3.840000,25699000,0,0.0
2010-07-06,4.000000,4.000000,3.166000,3.222000,34334500,0,0.0
...,...,...,...,...,...,...,...
2022-02-18,886.000000,886.869995,837.609985,856.979980,22710500,0,0.0
2022-02-22,834.130005,856.729980,801.099976,821.530029,27762700,0,0.0
2022-02-23,830.429993,835.299988,760.559998,764.039978,31752300,0,0.0
2022-02-24,700.390015,802.479980,700.000000,800.770020,45107400,0,0.0
2022-02-25,809.229980,819.500000,782.400024,809.869995,25309500,0,0.0

In [2]:
# Ultimos 4 balances generales
tesla.balance_sheet

,2021-12-31,2020-12-31,2019-12-31,2018-12-31
Intangible Assets,2.570000e+08,3.130000e+08,3.390000e+08,2.820000e+08
Capital Surplus,2.980300e+10,2.726000e+10,1.273600e+10,1.024900e+10
Total Liab,3.054800e+10,2.846900e+10,2.619900e+10,2.342700e+10
Total Stockholder Equity,3.018900e+10,2.222500e+10,6.618000e+09,4.923000e+09
Minority Interest,1.394000e+09,1.454000e+09,1.492000e+09,1.390000e+09
Other Current Liab,4.756000e+09,4.147000e+09,3.693000e+09,2.955000e+09
Total Assets,6.213100e+10,5.214800e+10,3.430900e+10,2.974000e+10
Common Stock,1.000000e+06,1.000000e+06,1.000000e+06,NaN
Other Current Assets,3.450000e+08,2.380000e+08,2.460000e+08,1.930000e+08
Retained Earnings,3.310000e+08,-5.399000e+09,-6.083000e+09,-5.318000e+09
Other Liab,3.896000e+09,3.302000e+09,2.969000e+09,2.318000e+09
Good Will,2.000000e+08,2.070000e+08,1.980000e+08,6.800000e+07
Treasury Stock,5.400000e+07,3.630000e+08,-3.600000e+07,-8.000000e+06
Other Assets,3.398000e+09,1.536000e+09,1.469000e+09,1.380000e+09
Cash,1.757600e+10,1.938400e+10,6.268000e+09,3.686000e+09
Total Current Liabilities,1.970500e+10,1.424800e+10,1.066700e+10,9.993000e+09
Short Long Term Debt,1.088000e+09,1.758000e+09,1.399000e+09,2.284000e+09
Other Stockholder Equity,5.400000e+07,3.630000e+08,-3.600000e+07,-8.000000e+06
Property Plant Equipment,3.117600e+10,2.337500e+10,2.019900e+10,1.969100e+10
Total Current Assets,2.710000e+10,2.671700e+10,1.210300e+10,8.307000e+09
Net Tangible Assets,2.973200e+10,2.170500e+10,6.081000e+09,4.573000e+09
Short Term Investments,1.310000e+08,NaN,NaN,NaN
Net Receivables,1.986000e+09,1.903000e+09,1.324000e+09,9.490000e+08
Long Term Debt,4.285000e+09,8.571000e+09,1.037500e+10,8.461000e+09
Inventory,5.757000e+09,4.101000e+09,3.552000e+09,3.113000e+09
Accounts Payable,1.002500e+10,6.051000e+09,3.771000e+09,3.405000e+09
Long Term Investments,NaN,NaN,1.000000e+06,1.200000e+07

In [3]:
# Recomendaciones de analistas
tesla.recommendations

                              Firm      To Grade From Grade Action
Date
2012-02-16 07:42:00      JP Morgan    Overweight              main
2012-02-16 13:53:00     Wunderlich          Hold              down
2012-02-17 06:17:00     Oxen Group           Buy              init
2012-03-26 07:31:00     Wunderlich           Buy                up
2012-05-22 05:57:00    Maxim Group           Buy              init
...                            ...           ...        ...    ...
2022-01-27 11:53:32    Wells Fargo  Equal-Weight              main
2022-01-27 14:14:58      Citigroup          Sell              main
2022-01-31 10:10:29  Credit Suisse    Outperform    Neutral     up
2022-02-14 12:11:33  Piper Sandler    Overweight              main
2022-02-25 11:15:53  Daiwa Capital    Outperform    Neutral     up

[434 rows x 4 columns]

### 2. Recolectando precios de múltiples compañías
Creando una lista con los nemotécnicos de las empresas que queremos consultar, y luego usando un FOR-loop para iterar sobre ella, podemos recolectar sus precios históricos y luego guardarlos en un DataFrame de pandas para trabajar con él.

In [4]:
empresas = [
    'TSLA',  # Tesla
    'GOOG',  # Google
    'BTC-USD',  # Bitcoin
    'FB'  # Meta
]

recolector = []
for nemo in empresas:
    # Creamos el objecto Ticker usando la empresa 'e'
    ticker = yf.Ticker(nemo)
    
    # Guardemos sus precios de cierre en una variable
    px = ticker.history(period="max")['Close']
    px.name = nemo  # Para indentificarla mas facil
    
    # Lo guardamos en nuestra lista 'recolector'
    recolector += [px]

# Concatenamos todas las Series individuales en un DataFrame
precios = pd.concat(recolector, axis=1)

print(precios)

                  TSLA         GOOG       BTC-USD          FB
Date
2004-08-19         NaN    49.982655           NaN         NaN
2004-08-20         NaN    53.952770           NaN         NaN
2004-08-23         NaN    54.495735           NaN         NaN
2004-08-24         NaN    52.239197           NaN         NaN
2004-08-25         NaN    52.802086           NaN         NaN
...                ...          ...           ...         ...
2022-02-23  764.039978  2551.699951  37296.570312  198.449997
2022-02-24  800.770020  2653.469971  38332.609375  207.600006
2022-02-25  809.869995  2690.389893  39214.218750  210.479996
2022-02-26         NaN          NaN  39105.148438         NaN
2022-02-27         NaN          NaN  38996.300781         NaN

[5258 rows x 4 columns]